<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>flutter_itri_hrbr.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>3</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>B32CA5F0E0D8C0B1D77F95C99973C7F291E6A284</string>
				<key>dateExpires</key>
				<string>2026/8/7</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B32CA5F0E0D8C0B1D77F95C99973C7F291E6A284</string>
						<key>dateExpires</key>
						<string>2026/8/7</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YYWHG62B2P</string>
						<key>name</key>
						<string>CHECKONE CO., LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B32CA5F0E0D8C0B1D77F95C99973C7F291E6A284</string>
						<key>dateExpires</key>
						<string>2026/8/7</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YYWHG62B2P</string>
						<key>name</key>
						<string>CHECKONE CO., LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B32CA5F0E0D8C0B1D77F95C99973C7F291E6A284</string>
						<key>dateExpires</key>
						<string>2026/8/7</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>ITRIHRBR.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YYWHG62B2P</string>
						<key>name</key>
						<string>CHECKONE CO., LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B32CA5F0E0D8C0B1D77F95C99973C7F291E6A284</string>
						<key>dateExpires</key>
						<string>2026/8/7</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>device_calendar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YYWHG62B2P</string>
						<key>name</key>
						<string>CHECKONE CO., LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B32CA5F0E0D8C0B1D77F95C99973C7F291E6A284</string>
						<key>dateExpires</key>
						<string>2026/8/7</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_blue_plus_darwin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YYWHG62B2P</string>
						<key>name</key>
						<string>CHECKONE CO., LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B32CA5F0E0D8C0B1D77F95C99973C7F291E6A284</string>
						<key>dateExpires</key>
						<string>2026/8/7</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_localization.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YYWHG62B2P</string>
						<key>name</key>
						<string>CHECKONE CO., LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B32CA5F0E0D8C0B1D77F95C99973C7F291E6A284</string>
						<key>dateExpires</key>
						<string>2026/8/7</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YYWHG62B2P</string>
						<key>name</key>
						<string>CHECKONE CO., LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>YYWHG62B2P.com.checkone.hrbr</string>
				<key>com.apple.developer.team-identifier</key>
				<string>YYWHG62B2P</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>9cb9521a-3cf9-4f4c-b0d7-9a7466c90592</string>
				<key>dateExpires</key>
				<string>2026/10/21</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.checkone.hrbr</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>YYWHG62B2P</string>
				<key>name</key>
				<string>CHECKONE CO., LTD.</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
